@using TaskManager.Web.Controllers
@using TaskManager.Web.Models
@using TaskManager.Web.Models.Tasks
@model TaskManager.Web.Models.Tasks.TaskDetailsModel

@{
    ViewBag.Title = "Details";
}

<br>
<div class="taskEntry entry">
    <span class="taskContent">@Model.Task.Content</span>
    <br>Created on @Model.Task.Date
</div>

<div class="taskEntry entry">
    Workers:
    <ul>
        @foreach (var worker in Model.Task.Workers.Take(Model.Task.Workers.Count()))
        {
            <li>@worker.FullName (@worker.Username)</li>
        }
    </ul>
</div>

<div class="taskEntry entry">
    Readiness: @(Model.Task.Percentage)%
</div>

<br>
@foreach (var comment in @Model.Task.Comments)
{
    <div class="commentsEntry entry">
        <span class="commentContent">@comment.Content</span><br>
        <span class="commentDate">@comment.Date</span>
        <span class="commentUser"><b>@comment.UserFullName</b> (@comment.Username)</span>
    </div>
}

@if (Model.UserRole != TaskDetailsModel.TaskRole.Visitor)
{
    <form action="@Url.Action(TasksController.AddCommentAction, TasksController.ControllerName)" method="post" class="fixedForm" id="addCommentForm">       
        @Html.TextBoxFor(m => m.NewComment.Content, new { @class = "textInput" })
        @Html.HiddenFor(m => m.NewComment.TaskId)
        @Html.HiddenFor(m => m.NewComment.UserId)<br><br>
        <input type="submit" value="Add comment" name="submit_addcommment" class="btn" id="addcommentBtn">
    </form>
}

@if (Model.UserRole == TaskDetailsModel.TaskRole.Manager)
{
    <form action="@Url.Action(TasksController.AddTaskWorkerAction, TasksController.ControllerName)" method="post" class="fixedForm" id="addTaskWorkerForm">
        @Html.LabelFor(m => m.NewWorker.Username)<br>
        @Html.TextBoxFor(m => m.NewWorker.Username, new { @class = "textInput" })
        @Html.HiddenFor(m => m.NewWorker.TaskId)<br><br>
        <input type="submit" value="Add user" name="submit_adduser" class="btn" id="addUserBtn">
    </form>
}

@if (Model.UserRole == TaskDetailsModel.TaskRole.Worker)
{
    <form action="@Url.Action(TasksController.SetReadinessAction, TasksController.ControllerName)" method="post" class="fixedForm" id="setReadinessForm">
        @Html.ValidationSummary(false)
        @Html.LabelFor(m => m.NewReadiness.Percentage)<br>
        @Html.TextBoxFor(m => m.NewReadiness.Percentage, new { @class = "textInput" })
        @Html.HiddenFor(m => m.NewReadiness.TaskId)<br><br>
        <input type="submit" value="Set readiness" name="submit_setreadiness" class="btn" id="addUserBtn">
    </form>
}

<form action="@Url.Action(AccountController.LogOutAction, AccountController.ControllerName)" method="post" class="" id="logOutForm">
    <input type="submit" value="Log out" name="submit_logout" class="btn" id="logOutBtn">
</form>