@using TaskManager.Web.Controllers
@model TaskManager.Web.Models.Users.UserListModel

@{
    ViewBag.Title = "Index";
}

<br>
<div class="teamEntry entry">
    @Model.TeamName
</div>

@foreach (var member in Model.Members)
{
    <div class="userEntry entry">
        @*@Html.ActionLink()*@
        @member.FullName (@member.Username)
    </div>
}

<div class="centerLink">
    @Html.ActionLink("Tasks", TasksController.IndexAction, TasksController.ControllerName, new { teamId = Model.TeamId }, null)
</div>

<form action="@Url.Action(UsersController.AddTeamMemberAction, UsersController.ControllerName)" method="post" class="fixedForm" id="addTeamMemberForm">
    @Html.LabelFor(m => m.NewUser.Username)<br>
    @Html.TextBoxFor(m => m.NewUser.Username, new {@class = "textInput"})
    @Html.HiddenFor(m => m.NewUser.TeamId)<br><br>
    <input type="submit" value="Add user" name="submit_adduser" class="btn" id="addUserBtn">
</form>

<form action="@Url.Action(AccountController.LogOutAction, AccountController.ControllerName)" method="post" class="" id="logOutForm">
    <input type="submit" value="Log out" name="submit_logout" class="btn" id="logOutBtn">
</form>

